@model PizzaOrders3.Models.PizzaOrder

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PizzaOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasVyzvednuti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasVyzvednuti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncludeHam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncludeHam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncludeBacon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncludeBacon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncludeMushrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncludeMushrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncludeOlives)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncludeOlives)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncludeCorn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncludeCorn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncludeCibule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncludeCibule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncludePepper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncludePepper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncludeHermelin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncludeHermelin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncludeNiva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncludeNiva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncludeEidam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncludeEidam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
